$color1: #1d9bf0;
$color1-hover: #1a8cd8;
$color1-disabled: #1d9cf080;

$text1: #000;
$text2: #536471;

$bg1: #eff3f4;
$bg1-hover: #0000000a;

$bg2: #f7f9f9;
%transD {
  transition-duration: 0.25s;
}
@mixin boxS($p1) {
  box-shadow: rgba(0, 0, 0, $p1) 0px 8px 28px;
}
@mixin border($px, $color) {
  border: $px solid $color;
}
